:host {
    display: flex; 
    height: 100vh; 
    width: 100%;
    margin: 0;
}


.sidebar-menu {
    width: 220px; 
    background-color: #f8f9fa; 
    padding: 15px 10px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); 
    display: flex;
    flex-direction: column; 
    flex-shrink: 0; 
}


.menu-item {
    text-decoration: none;
    color: #333;
    padding: 10px 15px;
    margin-bottom: 5px;
    border-radius: 4px;
    display: flex; 
    align-items: center;
}

menu-item .material-icons {
    margin-right: 8px; 
    font-size: 20px; 
    white-space: nowrap; 
}

.content-wrapper {
    flex-grow: 1; 
    padding: 20px;
    overflow-y: auto; 
}


