* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
}

:root {
    --ford-blue: #005596;
    --card-border: #dce1e6;
    --card-header-bg: #f8f9fa;
    --text-gray: #6c757d;
    --table-header-bg: #004a99; 
}


.dashboard-principal {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}


.main-title {
    text-align: center;
    color: var(--ford-blue);
    margin-bottom: 30px;
    margin-top: 10px;
    font-weight: 700;
    font-size: 28px;
}


.top-cards-section {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
}

.card {
    background-color: #fff;
    border: 1px solid var(--card-border);
    border-radius: 4px;
    flex: 1; 
    box-shadow: 0 3px 4px rgba(107, 107, 107, 0.9);
}

.card-header {
    background-color: var(--card-header-bg);
    padding: 10px 15px;
    font-weight: 500;
    color: #444;
    border-bottom: 1px solid var(--card-border);
    font-size: 15px;
}

.card-body {
    padding: 15px;
    min-height: 90px; 
}


.info-card .big-number {
    display: block;
    font-size: 28px;
    font-weight: 700;
    color: var(--ford-blue);
    margin-bottom: 5px;
}

.info-card .unit-label {
    font-size: 13px;
    color: var(--text-gray);
}


#veiculos-select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    color: #333;
    outline: none;
}
.dropdown-card .card-body {
    display: flex;
    align-items: center; 
}


.image-section {
    text-align: center;
    margin: 30px 0;
}

.car-image {
    max-width: 500px; 
    width: 100%;
    height: auto;
}


.bottom-table-section {
    width: 100%;
    margin-top: 20px;
}

.data-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

.th-tabela {
    background-color: #004a99;
}

.data-table thead th {
    background-color: var(--table-header-bg);
    color: white;
    text-align: left;
    padding: 12px 15px;
    font-weight: 500;
}

.data-table tbody td {
    padding: 10px 15px;
    border-bottom: 1px solid var(--card-border);
    color: #000;
    font-weight: 500;
    vertical-align: middle;
    background-color: white;
    color: black;
}


.fake-input {
    border: 1px solid #999;
    padding: 4px 8px;
    display: inline-block;
    background-color: #fff;
    font-family: monospace;
    font-size: 13px;
    color: #333
}