.metricas-container {
    display: flex; 
    gap: 20px; 
    margin-bottom: 30px; 
    justify-content: space-between; 
}


.card-metrica {
    background-color: white;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
    min-width: 200px; 
    text-align: center;
}

.card-metrica h3 {
    color: #003479;
    font-size: 16px;
    margin-top: 0;
}

.card-metrica .valor {
    font-size: 32px;
    font-weight: bold;
    color: #004792; 
}

.tabela-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}