<nav class="sidebar-menu">
  <a href='/dashboard' class="menu-item">
      <span class="material-icons">dashboard</span>
      Dashboard
  </a>
  <a href='/home' class="menu-item">
      <span class="material-icons">home</span>
      Home
  </a>
  <a class="menu-item menu-item-sair">
      <span class="material-icons">logout</span>
      Sair
  </a>
</nav>
<div class="card-principal">
    
  <h2>Bem-vindo à Home!</h2>
  <p>Você efetuou o login com sucesso.</p>

  <div class="botoes-container"> 
      <button class="btn-dashboard" [routerLink]="['/dashboard']"> 
          <span class="material-icons">menu</span> Dashboard
      </button>
      
      <button class="btn-sair">Sair</button>
  </div>
</div>
